<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title_page }}</title>

    <link rel="stylesheet" href="/static/reset.css">
</head>
<body>
    {% block body_render %}
        <div class="container">
            <h1>Bem Vindo a nossa Jogoteca</h1>
        </div>
    {% endblock body_render %}

    <a href="/logout">login/logout</a><br>

    {% with list_messages = get_flashed_messages() %}
        {% if list_messages %}
            <script>
                {% for m in list_messages %}
                    window.alert("{{ m }}");
                {% endfor %}
            </script>
        {% endif %}
    {% endwith %}
</body>
</html>
